(TRANSFORM C
	(INPUTS (population 1)
			(metallicElements 3)
			(metallicAlloys 2)
			(potentialEnergyUsable 3)
			(water 3))
	(OUTPUTS (population 1)
			(electronics 2)
			(electronicsWaste 1)
			(water 2)))