(TRANSFORM C
  (INPUTS (availableLand 1)
          (population 5)
          (water 5)
          (metallicElements 1)
          (timber 5)
          (metallicAlloys 3)
          (potentialEnergyUsable 5))
  (OUTPUTS (housing 1)
           (housingWaste 1)
           (population 5)
           (water 4)))